Repository terminal-nerds/snippets, changes with the labels that .github/labeler.yml gives for each.
All labels: 🏗️ continuous integration, 📓 documentation, 🎉 release

.github/labeler.yml:

# https://github.com/actions/labeler
---
"🏗️ continuous integration":
    - .github/**/*

"📓 documentation":
    - README.md

"🎉 release":
    - CHANGELOG.md

feat: ✨ Add `STRING_SCHEMA`
  source/string/main.ts
  source/string/string.schema.ts
Labels: none

feat(string): ✨ Add `isString(value)`
  source/string/is-string/is-string.test.ts
  source/string/is-string/is-string.ts
  source/string/main.ts
Labels: none

chore(scripts): 🔧 Fix scripts related to testing
  package.json
Labels: none

chore(Git): 🙈 Add `coverage/` folder to ignore list
  .gitignore
Labels: none

feat(string): ✨ Add `validateString(value)`
  source/string/main.ts
  source/string/validate-string/validate-string.test.ts
  source/string/validate-string/validate-string.ts
Labels: none

chore(pnpm): 🐛 Fix lockfile
  pnpm-lock.yaml
Labels: none

feat: ✨ Add snippets related to string (#8)
  .depcheckrc.json
  .gitignore
  package.json
  pnpm-lock.yaml
  source/string/is-string/is-string.test.ts
  source/string/is-string/is-string.ts
  source/string/main.ts
  source/string/string.schema.ts
  source/string/validate-string/validate-string.test.ts
  source/string/validate-string/validate-string.ts
Labels: none

feat(string): ✨ Add `isStringEmpty(value)` & `EMPTY_STRING_SCHEMA` & `EmptyString` type
  source/string/is-string-empty/is-string-empty.test.ts
  source/string/is-string-empty/is-string-empty.ts
  source/string/main.ts
  source/string/string.schema.ts
Labels: none

test(is-string): ✅ Improve test
  source/string/is-string/is-string.test.ts
Labels: none

chore(depedencies): ➕ Add `@terminal-nerds/vitest-config`
  package.json
  pnpm-lock.yaml
Labels: none

chore(depedencies): ➖ Remove `@vitest/{coverage-c8,ui}`
  package.json
  pnpm-lock.yaml
Labels: none

chore(depcheck): 🙈 Remove `@vitest` packages from ignore list
  .depcheckrc.json
Labels: none

chore(Vitest): 🔧 Reuse shared config
  vitest.config.ts
Labels: none

chore(scripts): 🔧 Add `coverage/` to `clean:build`
  package.json
Labels: none

chore(scripts): 🔧 Remove `test:coverage` due to to workflow changes
  package.json
Labels: none

chore(packages): 🔧 Add `files` field
  package.json
Labels: none

ci(ci-cd): 👷 Remove `coverage` job and reuse shared `test` job
  .github/workflows/ci-cd.yml
Labels: 🏗️ continuous integration

ci(Renovate): 👷 Merge `test` and `build` groups into `project tools`
  .github/renovate.json
Labels: 🏗️ continuous integration

chore(depedencies): ➕ Add `@terminal-nerds/vitest-config`
  package.json
Labels: none

chore(depedencies): ➖ Remove `vite`
  package.json
Labels: none

chore(pnpm): ⬆️ Update lockfile
  pnpm-lock.yaml
Labels: none

chore(depcheck): 🙈 Remove obsolete `vite` from ignore list
  .depcheckrc.json
Labels: none

chore(dependencies): ➕ Add `@terminal-nerds/lint-staged-config`
  package.json
  pnpm-lock.yaml
Labels: none

chore(lint-staged): 🔧 Use shared config
  .lintstagedrc.js
Labels: none

ci(cd-cd): 🔧 Add missing `build` job in `needs` for `release` job
  .github/workflows/ci-cd.yml
Labels: 🏗️ continuous integration

build: 🏗 Improve testing workflow (#10)
  .depcheckrc.json
  .github/renovate.json
  .github/workflows/ci-cd.yml
  .lintstagedrc.js
  package.json
  pnpm-lock.yaml
  vitest.config.ts
Labels: 🏗️ continuous integration

feat(string): ✨ Add more snippets related to the string (#9)
  source/string/is-string-empty/is-string-empty.test.ts
  source/string/is-string-empty/is-string-empty.ts
  source/string/is-string/is-string.test.ts
  source/string/main.ts
  source/string/string.schema.ts
Labels: none

ci(Snyk): 💚 Temporarily disable Snyk jobs
  .github/workflows/ci-cd.yml
  .github/workflows/maintenance.yml
Labels: 🏗️ continuous integration

ci(ci-cd): 👷 Remove deprecated `artifact-name`
  .github/workflows/ci-cd.yml
Labels: 🏗️ continuous integration

fix(package.json): 🐛 Incorrect links
  package.json
Labels: none

ci(ci-cd): 🔧 Adapt to the changes from reusable workflow (test)
  .github/workflows/ci-cd.yml
Labels: 🏗️ continuous integration

chore(depedencies): ➖ Remove depedencies related to `semantic-release`
  package.json
  pnpm-lock.yaml
  release.config.cjs
Labels: none

ci(ci-cd): 👷 Use reusable workflow `release.yml`
  .github/workflows/ci-cd.yml
Labels: 🏗️ continuous integration

chore(depedencies): ➕ Add `@changesets/{cli,changelog-github}`
  package.json
  pnpm-lock.yaml
Labels: none

chore(depcheck): 🙈 Add `@changesets/*` to ignore list
  .depcheckrc.json
Labels: none

ci(Renovate): 👷 Add `@changesets/*` to the project tools group
  .github/renovate.json
Labels: 🏗️ continuous integration

docs: 📝 Add initial `CHANGELOG.md`
  CHANGELOG.md
Labels: 🎉 release

ci(ci-cd): 🐛 Remove obsolete `with` for `release`
  .github/workflows/ci-cd.yml
Labels: 🏗️ continuous integration

ci(ci-cd): 👷 Improve jobs naming
  .github/workflows/ci-cd.yml
Labels: 🏗️ continuous integration

chore(changesets): 🔧 Add initial config
  .changeset/README.md
  .changeset/config.json
Labels: none
