Repository terminal-nerds/snippets, changes with the labels that .github/labeler.yml gives for each.
All labels: 🏗️ continuous integration, 📓 documentation, 🎉 release

.github/labeler.yml:

# https://github.com/actions/labeler
---
"🏗️ continuous integration":
    - .github/**/*

"📓 documentation":
    - README.md

"🎉 release":
    - CHANGELOG.md

chore(package.json): 🔧 Add `fix:*` scripts & pin dependencies
  package.json
  pnpm-lock.yaml
Labels: none

chore(package.json): 🔧 Update metadata & scripts
  package.json
Labels: none

build: 🏗 Use `changesets` (#14)
  .changeset/README.md
  .changeset/config.json
  .depcheckrc.json
  .github/renovate.json
  .github/workflows/ci-cd.yml
  CHANGELOG.md
  package.json
  pnpm-lock.yaml
  release.config.cjs
Labels: 🏗️ continuous integration, 🎉 release

chore(package.json): 🔧 Update scripts
  package.json
Labels: none

ci(ci-cd): 👷 Update linting scripts & step names
  .github/workflows/ci-cd.yml
Labels: 🏗️ continuous integration

chore(depedencies): ⬆️ Update configs & tools
  package.json
  pnpm-lock.yaml
Labels: none

ci(workflows/ci-cd): 👷 Add `CC_TEST_REPORTER_ID` to `test` job
  .github/workflows/ci-cd.yml
Labels: 🏗️ continuous integration

feat(string): ✨ Add casing transformation functions
  .github/workflows/ci-cd.yml
Labels: 🏗️ continuous integration

build(pnpm): 🔧 Add initial workspace setup
  pnpm-workspace.yaml
Labels: none

chore: 🏗 Remove `source/` directory
  source/string/is-string-empty/is-string-empty.test.ts
  source/string/is-string-empty/is-string-empty.ts
  source/string/is-string/is-string.test.ts
  source/string/is-string/is-string.ts
  source/string/main.ts
  source/string/string.schema.ts
  source/string/validate-string/validate-string.test.ts
  source/string/validate-string/validate-string.ts
Labels: none

chore: 🏗 Update workspace, packages and `scripts`
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: none

chore(turbo): 🔧 Add initial config file
  turbo.json
Labels: none

chore: 🔥 Remove obsolete files at root
  CHANGELOG.md
  tsup.config.ts
Labels: 🎉 release

chore(Git): 🙈 Add `.turbo/` and `.env` to ignore list
  .gitignore
Labels: none

chore(depcheck): 🙈 Update ignore list
  .depcheckrc.json
Labels: none
